<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ANTENNA MEASUREMENT SYSTEM {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bulma.css') }}"/>
{#    <link rel="stylesheet"#}
{#          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>#}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='home.css') }}"/>
</head>
<body>
    <header>
      <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('home_page') }}">Home</a>
          </span>
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('Measurement_page') }}">Measurement</a>
          </span>
          <span class="navbar-item">
            <a class="button is-link" href="{{ url_for('parameters_page') }}">Parameters</a>
          </span>
        </div>
      </nav>
    </header>


    <main>
      <section class="section">
        <div class="content">
          {% block content %}{% endblock %}
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="content">
       <small>&copy 2021, Furkan Aslan HATIK, Efe KİRAZ</small>
      </div>
    </footer>
</body>
</html>
